*{
    margin: 0;
    padding: 0;
    font-family: 'Scheherazade New', serif;
}

body{
    background-color: #f1f1f1;
    box-sizing: border-box;
    
}

.myQuizApp{
    width: 400px;
    height: 700px;
    /* position: absolute; */
    margin: 10px auto;
    background-color: #fff;
    box-shadow: rgb(0 0 0/ 10%) 10px 40px 50px;
    /* transform: translate(-50%, -50%); */
    transition: 0.5s all ease;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    
}

.myQuizApp .img img{
    width: 100%;
}

.text{
    width: 90%;
    margin: auto;
}

.text h3{
    font-size: 25px;
}
.text p{
    font-size: 15px;
}

.myBtn button{
    font-size: 20px;
    font-weight: 600;
    background-color: tomato;
    outline: none;
    border: 0;
    height: 70px;
    width: 150px;
    color: #fff;
    padding: 6px 5px;
    cursor: pointer;
    border-radius: 57px 0px 51px 0px;
    margin-top: 30px;
    margin-left: 100px;

}

.myBtn button:hover {
    background-color: rgb(28, 149, 149);
}


/** rules page*/

.rulesBox{
    width: 400px;
    height: 700px;
    /* position: absolute; */
    margin: 10px auto;
    background-color: #fff;
    box-shadow: rgb(0 0 0/ 10%) 10px 40px 50px;
    /* transform: translate(-50%, -50%); */
    transition: 0.5s all ease;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}

.activeInfo{
    display: block;
}

.rulesTitle{
    text-align: center;
    border-bottom: 2px solid rgb(224, 215, 215);
    font-weight: 600;
    font-size: 30px;
}
.rulesList{
    width: 90%;
    margin: auto;
    padding-left: 30px;
    padding-top: 20px;
    
}

.rulesList li{
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}

.buttons{
    margin-top: 90px;
}

.buttons button{
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(38, 222, 124);
    outline: none;
    border: 0;
    height: 60px;
    width: 150px;
    color: #fff;
    padding: 6px 5px;
    cursor: pointer;
     
    
}

.exitBtn{
    border-radius: 0px 47px 0px 30px;
}

.contBtn{
    border-radius: 57px 0px 28px 0px;
    margin-left: 95px;
}

.exitBtn:hover{
    background-color: tomato;
}
.contBtn:hover{
    background-color: #007bff;
}

/*========question html */

.question{
    width: 400px;
    height: 700px;
    /* position: absolute; */
    margin: 10px auto;
    background-color: #fff;
    box-shadow: rgb(0 0 0/ 10%) 10px 40px 50px;
    /* transform: translate(-50%, -50%); */
    transition: 0.5s all ease;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}

.questionHead{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionHead .startTitle{
    font-size: 20px;
    font-weight: 600;
}

.timeCount{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.seconds{
    font-size: 25px;
    font-weight: 700;
    height: 26px;
    width: 45px;
    color: rgb(10, 189, 55);
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.timeLine{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.questionBody{
    padding: 25px 30px 20px 30px;
}

.questionBody .queTitle{
    font-size: 30px;
    font-weight: 600;
}

.myOptions{
    padding: 20px 0px;
    display: block;
}

.option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.footer{
    height: 60px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.totalQuestion p{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10px;

}

.footer .nextBtn{
    font-size: 20px;
    font-weight: 600;
    padding: 6px 25px;
    outline: none;
    border: none;
    border-radius: 57px 0px 30px 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    background: rgb(38, 222, 124);
    cursor: pointer;
    color: #f1f1f1;
    transition: all 0.3s ease;
    margin-top: 50px;
    display: none;
}

.nextBtn:hover{
    background: #007bff;
}

.option.correct{
    color: #000000;
    background: #7dd690;
    border: 1px solid #c3e6cb;
}

.option.incorrect{
    color: #181616;
    background: #d77c84;
    border: 1px solid #f5c6cb;
}

.option.disabled {
    pointer-events: none;
}

.newSeconds{
    width: 70px;
}

.question .questionHead .timeLine{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    
    background: #0ccc36;
}

.resultBox{
    width: 400px;
    height: 700px;
    /* position: absolute; */
    margin: 10px auto;
    background-color: #fff;
    box-shadow: rgb(0 0 0/ 10%) 10px 40px 50px;
    /* transform: translate(-50%, -50%); */
    transition: 0.5s all ease;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    display: none;
    
}

.resultImg img{
    width: 100%;
}

.completeText{
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid rgb(184, 174, 174);
}

.scoreText span{
    display: flex;
    font-size: 20px;
    
    margin-left: 65px;
    color: #000000;
}
.scoreText p{
    padding: 0 4px;
    font-weight: 900;
}

.resultBox .completeButtons{
    display: flex;
    margin-left: 80px;
    margin-top: 80px;
    
}

.resultBox .completeButtons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 600px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    
}

.restart1, .quit{
    background: #0ccc36;
    color: #fff;
   
}

.restart1:hover{
    background: tomato;
}
.quit:hover{
    background: red;
    color: #fff;
}

.resultBox .activeResult{
    display: block;
}